.home-2 {
    background-color: rgba($color-primary,.6);
    margin-left: -$unit-sm;
    width: 100%;
    width: 100vw;

    @include screen-xs {
        margin-left: -$unit-xs;
    }
}

.home-2__content {
    background-color: $color-primary;
    margin: 0 auto;
    max-width: 1100px;
    @include clearfix;

    a {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 310px;
        justify-content: space-evenly;
        float: left;
        text-decoration: none;
        transition: background-color .3s ease-in-out;
        width: 50%;

        @include screen-xl {
            height: 335px;
        }

        @include screen-lg {
            height: 290px;
        }

        @include screen-sm {
            flex-direction: row;
            float: none;
            height: auto;
            justify-content: space-evenly;
            padding: $unit-sm 0;
            width: 100%;
        }

        &:hover,
        &:active {
            background-color: $color-overlay;

            h2 {
                color: $color-primary;
            }
        }

        &:active {
            h2 {
                font-style: italic;
            }
        }

        &:nth-child(1),
        &:nth-child(2) {
            border-bottom: solid #fff 1px;
        }

        &:nth-child(3),
        &:nth-child(4) {
            border-top: solid #fff 1px;
        }

        &:nth-child(odd) {
            border-right: solid #fff 1px;
        }

        &:nth-child(even) {
            border-left: solid #fff 1px;
        }

        &:first-child{
            @include screen-sm {
                border-bottom: none;
                border-right: none;
            }
        }

        &:not(:first-child) {
            @include screen-sm {
                border: none;
                border-top: solid #fff 2px;
            }
        }

        h2 {
            color: #fff;
            font-size: 3.8rem;
            font-weight: 500;
            line-height: 1;
            text-align: center;
            text-transform: uppercase;
            transition: color .3s ease-in;
            max-width: 310px;

            @include screen-lg {
                font-size: 3.4rem;
            }

            @include screen-sm {
                font-size: 6.25vw;
                width: 52vw;
            }

            @include screen-xs {
                font-size: 7.25vw;
            }
        }
    }
}

.home-2__icon {
    svg {
        width: 160px;

        @include screen-xl {
            width: 180px;
        }

        @include screen-lg {
            width: 148px;
        }

        @include screen-sm {
            width: 28vw
        }
    }
}

.money__01,
.book__01,
.contact__01,
.laptop__01 {
    fill:#FFFFFF;
    transition:fill .3s ease-in
}
.home-2__content a:hover .money__01, .home-2__content a:active .money__01,
.home-2__content a:hover .book__01, .home-2__content a:active .book__01,
.home-2__content a:hover .contact__01, .home-2__content a:active .contact__01,
.home-2__content a:hover .laptop__01, .home-2__content a:active .laptop__01 {
    fill:#15B6B8
}