.books-2 {
    padding: $unit-sm 0 $unit-md;
}

.books-2__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 260px;
    justify-content: space-evenly;
    text-decoration: none;

    @include screen-xl {
        min-height: 270px;
    }

    @include screen-xs {
        min-height: 240px;
    }

    a {
        align-items: center;
        background-color: $color-primary;
        border: solid $color-primary 1.5px;
        border-radius: 27px;
        color: #fff;
        cursor: pointer;
        display: flex;
        font-family: $font-primary;
        font-size: 3.2rem;
        font-weight: 500;
        height: 54px;
        justify-content: center;
        line-height: 1;
        margin-bottom: 2rem;
        padding: 0 $unit-md;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color .3s ease-in-out, color .3s ease-in;
        white-space: nowrap;
        z-index: 2;

        @include screen-xs {
            font-size: 2.6rem;
            padding: 0 $unit-sm;
        }


        &:hover,
        &:focus {
            background-color: rgba(255, 255, 255, 0);
            color: $color-primary;
        }
    }

    form {
        input {
            &:nth-child(3) {
                align-items: center;
                background-color: $color-primary;
                border: solid $color-primary 1.5px;
                border-radius: 27px;
                color: #fff;
                cursor: pointer;
                display: flex;
                font-family: $font-primary;
                font-size: 3.2rem;
                font-weight: 500;
                height: 54px;
                justify-content: center;
                line-height: 1;
                margin-bottom: 2rem;
                padding: 0 $unit-md;
                position: relative;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                transition: background-color .3s ease-in-out, color .3s ease-in;
                white-space: nowrap;
                z-index: 2;

                @include screen-xs {
                    font-size: 2.6rem;
                    padding: 0 $unit-sm;
                }


                &:hover,
                &:focus {
                    background-color: rgba(255, 255, 255, 0);
                    color: $color-primary;
                }
            }
        }
    }

    p {
        margin-bottom: $unit-xs;
    }
}

.books-2__icon {
    svg {
        position: relative;
        width: 160px;
        z-index: 2;

        @include screen-xl {
            width: 180px;
        }

        @include screen-lg {
            width: 156px;
        }
    }
}

.money__03,
.list__01 {
    fill: $color-primary;
}
