/*  Breakpoints  */
/*  Colors  */
/*  Fonts  */
/*  Measurement Units  */
/*  Clear Floats  */
/*  Media Queries  */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

a {
  background-color: transparent; }
  a:hover, a:active {
    text-decoration: none; }

button,
input {
  overflow: visible; }

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0; }

h1 {
  color: #fff;
  font-family: "Lusitana", serif; }

h2,
h3,
h4 {
  color: #15B6B8;
  font-family: "Fira Sans", sans-serif;
  font-variant: small-caps; }

img {
  border-style: none;
  display: block;
  max-width: 100vw; }

main {
  padding: calc(80px - 2px) 20px 0; }
  @media only screen and (max-width: 52.5em) {
    main {
      padding: 0 20px; } }
  @media only screen and (max-width: 26.25em) {
    main {
      padding: 0 10px; } }

p,
p a {
  font-family: "Fira Sans", sans-serif;
  font-style: italic; }

p {
  color: #111;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: calc(10px + 5px);
  max-width: 515px; }
  @media only screen and (min-width: 68.75em) {
    p {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 52.5em) {
    p {
      line-height: 1.45;
      margin-bottom: calc(20px + 10px); } }

p a {
  font-weight: 500; }

strong {
  font-weight: 700; }

.header {
  background-color: #15B6B8;
  position: fixed;
  width: 100%;
  width: 100vw; }
  @media only screen and (max-width: 52.5em) {
    .header {
      position: static; } }
  @media only screen and (max-width: 26.25em) {
    .header {
      background-color: #fff; } }
  .header h1 {
    opacity: 0;
    height: 0;
    width: 0; }

.header__content {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 0 calc(10px - 5px);
  max-width: 1100px; }
  @media only screen and (max-width: 52.5em) {
    .header__content {
      display: block;
      padding: 0; } }
  .header__content nav {
    align-items: stretch;
    display: flex; }
    @media only screen and (max-width: 52.5em) {
      .header__content nav {
        border-top: solid #fff 2px; } }
    @media only screen and (max-width: 36.25em) {
      .header__content nav {
        border-top: none; }
        .header__content nav::after {
          clear: both;
          content: "";
          display: table; } }
    .header__content nav ul {
      display: flex;
      align-items: stretch;
      list-style-type: none; }
      @media only screen and (max-width: 52.5em) {
        .header__content nav ul {
          height: auto;
          justify-content: center;
          margin: 0 auto;
          width: auto; } }
      @media only screen and (max-width: 36.25em) {
        .header__content nav ul {
          display: block;
          width: 100%; } }
      @media only screen and (max-width: 26.25em) {
        .header__content nav ul {
          background-color: #15B6B8; } }
      .header__content nav ul li {
        align-items: center;
        display: flex;
        position: relative; }
        @media only screen and (max-width: 36.25em) {
          .header__content nav ul li {
            display: block;
            float: left;
            position: static;
            width: 50%; } }
        @media only screen and (max-width: 26.25em) {
          .header__content nav ul li {
            width: 100%;
            float: none; } }
        @media only screen and (max-width: 36.25em) {
          .header__content nav ul li:nth-child(odd) a {
            border-right: solid #fff 2px; } }
        @media only screen and (max-width: 26.25em) {
          .header__content nav ul li:nth-child(odd) a {
            border-right: none; } }
        .header__content nav ul li a {
          align-items: center;
          display: flex;
          font-family: "Fira Sans", sans-serif;
          font-size: 2.2rem;
          font-weight: 500;
          height: 100%;
          padding-left: 10px;
          padding-right: 10px;
          transition: color .3s ease-in;
          z-index: 2; }
          @media only screen and (max-width: 52.5em) {
            .header__content nav ul li a {
              padding: 10px; } }
          @media only screen and (max-width: 36.25em) {
            .header__content nav ul li a {
              border-right: none;
              border-top: solid #fff 2px;
              font-size: 2.6rem;
              justify-content: center;
              padding-left: 0;
              padding-right: 0;
              text-align: center; } }
          @media only screen and (max-width: 26.25em) {
            .header__content nav ul li a {
              font-size: 2.4rem; } }
          .header__content nav ul li a:link, .header__content nav ul li a:visited {
            color: #fff;
            letter-spacing: .0625em;
            text-decoration: none;
            text-transform: uppercase; }
          .header__content nav ul li a:hover, .header__content nav ul li a:active {
            color: #15B6B8; }
            @media only screen and (max-width: 36.25em) {
              .header__content nav ul li a:hover, .header__content nav ul li a:active {
                background-color: rgba(255, 255, 255, 0.64); } }

@media only screen and (max-width: 52.5em) {
  .header__logo {
    display: none; } }

.header__logo picture img {
  width: 180px; }

.header__logo--tablet {
  display: none; }
  @media only screen and (max-width: 52.5em) {
    .header__logo--tablet {
      display: flex;
      justify-content: center;
      width: 100vw; } }
  @media only screen and (max-width: 26.25em) {
    .header__logo--tablet {
      display: none; } }
  .header__logo--tablet picture {
    margin: 20px auto;
    width: 400px; }
    .header__logo--tablet picture img {
      width: 100%; }

.header__logo--mobile {
  display: none; }
  @media only screen and (max-width: 26.25em) {
    .header__logo--mobile {
      display: block; } }
  .header__logo--mobile picture {
    margin: 0;
    width: 100%;
    width: 100vw; }
    .header__logo--mobile picture img {
      width: 100%; }

.header__divider {
  background-color: #111;
  border-radius: 50%;
  height: 8px;
  margin-left: -4px;
  margin-right: -4px;
  width: 8px;
  z-index: 2; }
  @media only screen and (max-width: 36.25em) {
    .header__divider {
      display: none; } }

.header__mask {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: solid #15B6B8 0px;
  position: absolute;
  height: 100%;
  top: 0;
  transition: all .3s ease-in-out;
  width: 100%; }
  @media only screen and (max-width: 36.25em) {
    .header__mask {
      display: none; } }

.header__content a:hover ~ .header__mask {
  background-color: rgba(255, 255, 255, 0.64);
  border-bottom-width: 8px; }

.section {
  margin: 0 auto; }

.home-1 {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 80px;
  max-width: 960px; }

.home-1__logo {
  margin-right: 3%;
  margin-top: 8px;
  width: 42%; }
  @media only screen and (max-width: 52.5em) {
    .home-1__logo {
      display: none; } }
  .home-1__logo picture img {
    width: 100%; }

.home-1__content {
  width: 55%; }
  @media only screen and (max-width: 52.5em) {
    .home-1__content {
      margin-left: 10px;
      width: auto; } }
  @media only screen and (max-width: 36.25em) {
    .home-1__content {
      margin-left: 0; } }
  .home-1__content h2 {
    font-size: 2.8rem; }
    @media only screen and (max-width: 26.25em) {
      .home-1__content h2 {
        text-align: center; } }
  .home-1__content hr {
    border-color: #15B6B8;
    border-style: solid;
    margin-bottom: 8px;
    margin-top: -2px;
    max-width: 370px; }
  .home-1__content p:last-child {
    margin-bottom: 0; }

.home-2 {
  background-color: rgba(21, 182, 184, 0.6);
  margin-left: -20px;
  width: 100%;
  width: 100vw; }
  @media only screen and (max-width: 26.25em) {
    .home-2 {
      margin-left: -10px; } }

.home-2__content {
  background-color: #15B6B8;
  margin: 0 auto;
  max-width: 1100px; }
  .home-2__content::after {
    clear: both;
    content: "";
    display: table; }
  .home-2__content a {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 310px;
    justify-content: space-evenly;
    float: left;
    text-decoration: none;
    transition: background-color .3s ease-in-out;
    width: 50%; }
    @media only screen and (min-width: 68.75em) {
      .home-2__content a {
        height: 335px; } }
    @media only screen and (max-width: 61.25em) {
      .home-2__content a {
        height: 290px; } }
    @media only screen and (max-width: 36.25em) {
      .home-2__content a {
        flex-direction: row;
        float: none;
        height: auto;
        justify-content: space-evenly;
        padding: 20px 0;
        width: 100%; } }
    .home-2__content a:hover, .home-2__content a:active {
      background-color: rgba(255, 255, 255, 0.64); }
      .home-2__content a:hover h2, .home-2__content a:active h2 {
        color: #15B6B8; }
    .home-2__content a:active h2 {
      font-style: italic; }
    .home-2__content a:nth-child(1), .home-2__content a:nth-child(2) {
      border-bottom: solid #fff 1px; }
    .home-2__content a:nth-child(3), .home-2__content a:nth-child(4) {
      border-top: solid #fff 1px; }
    .home-2__content a:nth-child(odd) {
      border-right: solid #fff 1px; }
    .home-2__content a:nth-child(even) {
      border-left: solid #fff 1px; }
    @media only screen and (max-width: 36.25em) {
      .home-2__content a:first-child {
        border-bottom: none;
        border-right: none; } }
    @media only screen and (max-width: 36.25em) {
      .home-2__content a:not(:first-child) {
        border: none;
        border-top: solid #fff 2px; } }
    .home-2__content a h2 {
      color: #fff;
      font-size: 3.8rem;
      font-weight: 500;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      transition: color .3s ease-in;
      max-width: 310px; }
      @media only screen and (max-width: 61.25em) {
        .home-2__content a h2 {
          font-size: 3.4rem; } }
      @media only screen and (max-width: 36.25em) {
        .home-2__content a h2 {
          font-size: 6.25vw;
          width: 52vw; } }
      @media only screen and (max-width: 26.25em) {
        .home-2__content a h2 {
          font-size: 7.25vw; } }

.home-2__icon svg {
  width: 160px; }
  @media only screen and (min-width: 68.75em) {
    .home-2__icon svg {
      width: 180px; } }
  @media only screen and (max-width: 61.25em) {
    .home-2__icon svg {
      width: 148px; } }
  @media only screen and (max-width: 36.25em) {
    .home-2__icon svg {
      width: 28vw; } }

.footer {
  background-color: #595854;
  padding: 80px 40px; }
  @media only screen and (max-width: 26.25em) {
    .footer {
      padding: 80px 20px; } }

.footer__content {
  margin: 0 auto;
  max-width: 800px; }
  .footer__content hr {
    display: none; }
    @media only screen and (max-width: 26.25em) {
      .footer__content hr {
        border: solid #fff 1px;
        display: block;
        margin: 10px auto;
        width: 140px; } }

.footer__composition {
  display: flex; }
  @media only screen and (max-width: 36.25em) {
    .footer__composition {
      display: block; } }

.footer__logo {
  width: 26.75%; }
  @media only screen and (max-width: 52.5em) {
    .footer__logo {
      width: 33.33%; } }
  @media only screen and (max-width: 36.25em) {
    .footer__logo {
      display: none; } }
  .footer__logo img {
    width: 100%; }

.footer__logo--tablet {
  display: none; }
  @media only screen and (max-width: 36.25em) {
    .footer__logo--tablet {
      display: block;
      width: 100%; } }
  @media only screen and (max-width: 26.25em) {
    .footer__logo--tablet {
      display: none; } }

.footer__logo--mobile {
  display: none; }
  @media only screen and (max-width: 26.25em) {
    .footer__logo--mobile {
      display: block;
      width: 100%; } }

.footer__contact-info {
  align-items: center;
  border: solid #fff 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 73.25%; }
  @media only screen and (max-width: 52.5em) {
    .footer__contact-info {
      width: 66.67%; } }
  @media only screen and (max-width: 36.25em) {
    .footer__contact-info {
      min-height: 320px;
      width: 100%; } }
  @media only screen and (max-width: 26.25em) {
    .footer__contact-info {
      border: none; } }
  .footer__contact-info span h3 {
    font-size: 2.8rem; }
    @media only screen and (max-width: 52.5em) {
      .footer__contact-info span h3 {
        font-size: 3.1vw; } }
    @media only screen and (max-width: 36.25em) {
      .footer__contact-info span h3 {
        font-size: 2.8rem; } }
  .footer__contact-info span hr {
    border: solid #fff 1px;
    display: block;
    margin: 10px auto;
    width: 140px; }
  .footer__contact-info span a {
    color: #fff;
    font-family: "Fira Sans", sans-serif;
    font-size: 2.3rem;
    font-style: italic;
    font-weight: 500; }
    @media only screen and (max-width: 52.5em) {
      .footer__contact-info span a {
        font-size: 2.85vw; } }
    @media only screen and (max-width: 36.25em) {
      .footer__contact-info span a {
        font-size: 4vw; } }
    @media only screen and (max-width: 26.25em) {
      .footer__contact-info span a {
        font-size: 1.6rem; } }

.footer__address {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 2.8rem;
  font-style: italic;
  font-weight: 400; }
  @media only screen and (max-width: 52.5em) {
    .footer__address {
      font-size: 3.3vw; } }
  @media only screen and (max-width: 36.25em) {
    .footer__address {
      font-size: 2.6rem; } }
  @media only screen and (max-width: 26.25em) {
    .footer__address {
      font-size: 2.1rem; } }

.footer__subtext {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 2.3rem;
  font-style: italic;
  font-weight: 400; }
  @media only screen and (max-width: 52.5em) {
    .footer__subtext {
      font-size: 2.85vw; } }
  @media only screen and (max-width: 36.25em) {
    .footer__subtext {
      font-size: 4vw; } }
  @media only screen and (max-width: 26.25em) {
    .footer__subtext {
      font-size: 1.6rem; } }
  .footer__subtext span {
    color: #15B6B8;
    font-style: normal;
    font-weight: 700; }

.footer__network {
  border: solid #fff 2px;
  border-top: none;
  padding: 20px; }
  @media only screen and (max-width: 36.25em) {
    .footer__network {
      padding: calc(40px - 10px) 10px; } }
  @media only screen and (max-width: 26.25em) {
    .footer__network {
      border: none;
      padding: 20px 0 0; } }
  .footer__network p {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    max-width: 605px; }
    @media only screen and (max-width: 26.25em) {
      .footer__network p {
        font-size: 1.4rem;
        max-width: 260px; } }

.footer__copyright p {
  color: #fff;
  margin: 10px auto 0;
  position: relative;
  text-align: center; }
  @media only screen and (max-width: 26.25em) {
    .footer__copyright p {
      font-size: 3.9vw;
      line-height: 1.2;
      margin-top: 0;
      max-width: 100%; } }
  .footer__copyright p a {
    color: #fff; }
  .footer__copyright p span {
    font-size: 2.1rem;
    position: relative;
    top: 4px; }
