/*  Clear Floats  */

@mixin clearfix {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

/*  Media Queries  */

@mixin screen-xs {
    @media only screen and (max-width: $screen-xs) {
        @content;
    }
}

@mixin screen-sm {
    @media only screen and (max-width: $screen-sm) {
        @content;
    }
}

@mixin screen-md {
    @media only screen and (max-width: $screen-md) {
        @content;
    }
}

@mixin screen-lg {
    @media only screen and (max-width: $screen-lg) {
        @content;
    }
}

@mixin screen-xl {
    @media only screen and (min-width: $screen-xl) {
        @content;
    }
}
