.footer {
    background-color: $color-gray;
    padding: $unit-lg $unit-md;

    @include screen-xs {
        padding: $unit-lg $unit-sm;
    }
}

.footer__content {
    margin: 0 auto;
    max-width: 800px;
    
    hr {
        display: none;

        @include screen-sm {
            border: solid #fff 1px;
            display: block;
            margin: $unit-xs auto;
            width: 140px;
        }
    }
}

.footer__composition {
    display: flex;

    @include screen-sm {
        display: block;
    }
}

.footer__logo {
    width: 26.75%;

    @include screen-md {
        width: 33.33%
    }

    @include screen-sm {
        display: none;
    }

    img {
        width: 100%;
    }
}

.footer__logo--mobile {
    display: none;

    @include screen-sm {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
    }
}

.footer__contact-info {
    align-items: center;
    border: solid #fff 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 73.25%;

    @include screen-md {
        width: 66.67%
    }

    @include screen-sm {
        border: none;
        min-height: 320px;
        width: 100%;
    }

    span {
    
        h3 {
            font-size: 2.8rem;

            @include screen-md {
                font-size: 3.1vw;
            }

            @include screen-sm {
                font-size: 2.8rem;
            }
        }
    
        hr {
            border: solid #fff 1px;
            display: block;
            margin: $unit-xs auto;
            width: 140px;
        }

        a {
            color: #fff;
            font-family: $font-primary;
            font-size: 2.3rem;
            font-style: italic;
            font-weight: 500;

            @include screen-md {
                font-size: 2.85vw;
            }

            @include screen-sm {
                font-size: 4vw;
            }

            @include screen-xs {
                font-size: 1.6rem;
            }
        }
    }
}

.footer__address {
    color: #fff;
    font-family: $font-primary;
    font-size: 2.8rem;
    font-style: italic;
    font-weight: 400;

    @include screen-md {
        font-size: 3.3vw;
    }

    @include screen-sm {
        font-size: 2.6rem;
    }

    @include screen-xs {
        font-size: 2.1rem;
    }
}

.footer__subtext {
    color: #fff;
    font-family: $font-primary;
    font-size: 2.3rem;
    font-style: italic;
    font-weight: 400;

    @include screen-md {
        font-size: 2.85vw;
    }

    @include screen-sm {
        font-size: 4vw;
    }

    @include screen-xs {
        font-size: 1.6rem;
    }

    span {
        color: $color-primary;
        font-style: normal;
        font-weight: 700;
    }
}

.footer__network {
    border: solid #fff 2px;
    border-top: none;
    padding: $unit-sm;

    @include screen-sm {
        border: none;
        padding: calc(#{$unit-md} - 10px) $unit-xs 0;
    }

    @include screen-xs {
        padding: $unit-sm 0 0;
    }

    p {
        color: #fff;
        margin: 0 auto;
        text-align: center;
        max-width: 605px;

        @include screen-xs {
            font-size: 1.4rem;
            max-width: 260px;
        }
    }
}

.footer__copyright {
    p {
        color: #fff;
        margin: $unit-xs auto 0;
        position: relative;
        text-align: center;

        @include screen-xs {
            font-size: 3.9vw;
            line-height: 1.2;
            margin-top: 0;
            max-width: 100%;
        }

        a {
            color: #fff;
        }

        span {
            font-size: 2.1rem;
            position: relative;
            top: 4px;
        }
    }
}
