.contact-1 {
    background-color: $color-primary;
    margin-left: -$unit-sm;
    padding: $unit-lg $unit-sm;
    width: 100%;
    width: 100vw;

    @include screen-xs {
        margin-left: -$unit-xs;
        padding: $unit-lg 0 0;
    }
}

.contact-1__content {
    margin: 0 auto;
    max-width: 846px;
}

.contact-1__header {
    border: solid #fff 2px;
    padding: $unit-sm;

    @include screen-sm {
        border: none;
        padding: 0 0 $unit-md;
    }

    @include screen-xs {
        padding: 0 $unit-xs $unit-md;
    }

    h2 {
        color: #fff;
        font-size: 4.6rem;
        line-height: 1;
        text-align: center;
    }

    hr {
        border: solid #fff 1.5px;
        margin: $unit-xs auto;
        max-width: 400px;
    }

    h5 {
        color: #fff;
        font-size: 2.1rem;
        font-style: italic;
        font-weight: 500;
        line-height: 1.5625;
        margin: 0 auto;
        text-align: center;
        max-width: 420px;

        @include screen-sm {
            max-width: 340px;
        }

        @include screen-xs {
            font-size: 1.8rem;
        }

        a {
            color: #fff;
        }
    }
}

.contact-1__composition {
    border: solid #fff 2px;
    border-top: none;
    display: flex;
    width: 100%;

    @include screen-sm {
        border-top: solid #fff 2px;
        display: block;
        margin: 0 auto;
        max-width: 460px;
    }

    @include screen-xs {
        border: none;
    }
}

.contact-1__map {
    border-right: solid #fff 1px;
    height: 420px;
    overflow: hidden;
    width: 50%;

    @include screen-sm {
        border: none;
        width: 100%;
    }

    @include screen-xs {
        height: 360px;
    }

    iframe {
        height: 100%;
        width: 100%;
    }
}

.contact-1__contact {
    align-items: center;
    background-color: $color-overlay;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: $unit-sm;
    width: 50%;

    @include screen-sm {
        border: none;
        min-height: 280px;
        padding: 0;
        width: 100%;
    }

    @include screen-xs {
        min-height: 320px;
    }
}

.contact-1__address {
    h4,
    p {
        font-size: 1.8rem;
        margin-bottom: 0;
        text-align: center;

        @include screen-xs {
            font-size: $font-size-default;
        }
    }

    h4 {
        font-style: italic;
        font-weight: 500;
    }
}

.contact-1__email-and-directions {
    a {
        display: inline-block;
        text-decoration: none;

        &:first-child {
            margin-right: $unit-xs;
        }

        &:nth-child(2) {
            cursor: pointer;
            margin-left: $unit-xs;
        }

        h6 {
            color: $color-gray-dark;
            font-size: 1.4rem;
            margin-top: 3px;
            text-align: center;
            text-transform: uppercase;

            @include screen-xs {
                font-size: 1.2rem;
            }
        }
    }
}

.contact-1__icon {
    align-items: center;
    background-color: $color-primary;
    border-radius: 50%;
    display: flex;
    height: 80px;
    justify-content: center;
    transition: all .4s ease-out;
    width: 80px;

    @include screen-xs {
        height: 60px;
        width: 60px;
    }

    svg {
        height: 60px;

        @include screen-xs {
            height: 46px;
        }

        .email__01,
        .location__01 {
            fill: #fff;
            margin: 0 auto;
            transition: fill .4s ease-in;
        }
    }
}

.contact-1__email-and-directions a:hover .contact-1__icon {
    background-color: transparent;
    transform: scale(1.15);

    svg {
        .email__01,
        .location__01 {
            fill: $color-gray-dark;
        }
    }
}
